/* reset/normalizer by https://piccalil.li/blog/a-modern-css-reset/ */
/* @import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Gothic+A1:wght@200;300;400;500&display=swap"); */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Gilda Display", Helvetica, sans-serif;
  background-color: antiquewhite;
}

#main-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#container-content {
  display: flex;
}

.main-item {
  flex: 1 1 0px;
  transition: ease-in-out 0.2s;
  height: 20vh;
}

.grow {
  flex: 4 1 0px !important;
  height: 80vh;
}

/* CONTENT containers */
.article {
  /* height: 100%;
  width: 100%; 
  flex: 1 auto;
  */
  flex: 1 1 0px;
  transition: ease-in-out 0.2s;
  display: flex;
  flex-direction: row;
}

#container-disc {
  background-color: rgb(118, 187, 119);
}

#container-tijd {
  background-color: rgb(125, 131, 244);
}

/* COVER */
.image-cover {
  width: 100%;
  height: 100%;
  contain: size;
}

/* CONTENT */
.section {
  position: absolute;
  width: 80vw;
  max-height: 80vh;
  overflow-y: scroll;
  padding: 2em;
}

.section a {
  color: rgb(230, 230, 230);
  font-size: 1.5em;
  text-decoration: none;
  margin-right: 0.5em;
  padding: 0.2em;
  border: 0px;
  border-radius: 0.3em;
}

.section a:hover {
  background-color: antiquewhite;
  color: black;
}

#playlist-tijd {
  padding-bottom: 2em;
}

.player-container {
  position: fixed;
  bottom: 0em;
  width: 80vw;
  height: 4em;
  display: flex;
  align-items: center;

  padding: 2em;
}

#player-disc {
  background-color: rgb(118, 187, 119);
  left: 0;
}

#player-tijd {
  background-color: rgb(125, 131, 244);
  right: 0em;
}

#btn-random {
  background-color: rgb(250, 235, 215, 0);
  color: rgb(250, 235, 215, 0.8);
  padding: 0.5em;
  margin-right: 1em;
  border: 1px solid rgb(250, 235, 215, 0.8);
  border-radius: 0.3em;
  min-width: 8em;
}
#btn-random:hover {
  background-color: rgb(250, 235, 215, 1);
  color: rgb(125, 131, 244);
  cursor: pointer;
}

#bc-player {
  mix-blend-mode: lighten;
}
/* Soundcloud player */

/* GENERAL */
.hide {
  display: none;
}

@media screen and (max-width: 840px) {
  #container-header {
    display: none;
  }
  #container-content {
    flex-direction: column;
  }
  .section {
    width: 100vw;
    padding: 1em;
  }
  .section a {
    font-size: 1.2em;
  }
}
